 h1{
  text-align: center;
  color: #BB86FC;
  }
h2{
  color: #fff;
}

#content{
  background-color: #121212;
}
.container{
  margin-top: 70px;
}
.box p{
  color: #fff;
  padding-left: 10px;
}
.box a{
    padding: 7%;
    color: #fff;
}
.box{
  align-self: center;
  border-radius: 10px;
  background-color: #1D1D1D;
  width: 340px;

}

img{
  border-radius: 100%;
  width: 130px;
  height: 130px;

}
.brand{
  color: #1D1D1D;
  font-family: 'Montserrat';
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #FF7597, 1px 1px 0px #BB86FC;
  letter-spacing: 2px;
}
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1D1D1D;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #1D1D1D;
}
.card {
  align-items: center;
  box-shadow: 6px 8px 5px #FF7597;
  background-color: #1D1D1D;
}
.card .btn:hover{
color: #edcfa9;
}
a,
a:hover,
a:focus {
    color: #1D1D1D;

}
.box{
  margin-left: 35%;
}
.container .box{
  margin:0px;
}
.navbar {
    padding: 15px 10px;
    background: #1D1D1D;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #BB86FC;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #1D1D1D;
    color: #BB86FC;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1D1D1D;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #BB86FC;
    text-decoration: none;
}

#sidebar ul p {
    color: #BB86FC;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #BB86FC;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #FF7597;
    text-decoration: none;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #BB86FC;
    text-decoration: none;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #222;
    text-decoration: none;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
